<!-- footer -->
<footer>
  <div class="agileits-w3layouts-footer">
    <div class="container">
      <div class="col-md-6 w3-agile-grid">
        <h5>Giới Thiệu</h5>
        <p>Vận Tải Thảo Đại. Cung cấp các dịch vụ du lịch, chuyển nhà, giao hàng một cách uy tín và chuyên nghiệp</p>
      </div>

      <div class="col-md-6 w3-agile-grid">
        <h5>Địa Chỉ</h5>
        <p>23/10 Lê Văn Quới, Phường Bình Hưng Hòa A, Quận Bình Tân, TP.Hồ Chí Minh</p>
        <div class="w3-address">
          <div class="w3-address-grid">
            <div class="w3-address-left">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="w3-address-right">
              <h6>Điện Thoại: <a href="tel:+8416627331631">+84 166 2733 163</a></h6>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>© 2017 Vận Tải Thảo Đại. All rights reserved | Phát triển bởi
        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ngoctung46@gmail.com" target="_top">Tùng Nguyễn</a>
      </p>
    </div>
  </div>
</footer>
<!-- //footer -->

