<div class="w3ls_address_mail_footer_grids">
  <div class="heading">
    <h2>Thông tin liên hệ</h2>
  </div>
  <div class="container">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJf8cevxksdTERvenhmo61E48&key=AIzaSyCXUoHg1999xDz4T1msTSxUrDuqJZXQk5o&language=vi"></iframe>
    <div [hidden]="!submitted" class="alert alert-success">
      <strong>Nội dung liên hệ đã được gửi thành công!</strong>.
    </div>
    <div class="col-md-6 contact-form" [hidden]="submitted">
      <h4 class="white-w3ls">Liên
        <span>Hệ</span>
      </h4>
      <form #contactForm="ngForm" (ngSubmit)="onSubmit();">
        <div class="styled-input agile-styled-input-top">
          <input type="text" name="Name" [(ngModel)]="model.name" required #name="ngModel">
          <label>Tên</label>
          <br/>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Bắt buộc phải có tên</div>
          <span></span>
        </div>
        <div class="styled-input">
          <input type="email" [(ngModel)]="model.email" name="Email" #email="ngModel">
          <label>Email</label>
          <span></span>
        </div>
        <div class="styled-input">
            <input type="text" [(ngModel)]="model.phone" name="Phone" #phone="ngModel" required>
            <label>Phone</label>
            <span></span>
            <br/>
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Bắt buộc phải có số điện thoại</div>
        </div>
        <div class="styled-input">
          <input type="text" [(ngModel)]="model.subject" name="Subject" #subject="ngModel" required>
          <label>Tiêu Đề</label>
          <br/>
          <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
            Bắt buộc phải có tiêu đề</div>
          <span></span>
        </div>
        <div class="styled-input">
          <textarea name="Message" [(ngModel)]="model.message" required #message="ngModel"></textarea>
          <label>Nội Dung</label>
          <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
            Bắt buộc phải có nội dung</div>
          <span></span>
        </div>
        <button type="submit" class="btn btn-success btn-block" [disabled]="!contactForm.form.valid"> Gửi</button>
      </form>
    </div>
    <div class="col-md-6 contactright">
      <h3>Địa chỉ</h3>
      <div class="w3ls_footer_grid_left">
        <div class="wthree_footer_grid_left">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <p>23/10 Đường Số 4, P. Bình Hưng Hoa A, Quận Bình Tân
          <span>Tp. Hồ Chí Minh, Việt Nam</span>
        </p>
      </div>
      <div class="w3ls_footer_grid_left">
        <div class="wthree_footer_grid_left">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <p><a href="tel:+8416627331631">+(84) 166 273 3163 (Đại)</a>
          <span><a href="tel:+84906093002">+(84) 906 093002(Thảo)</a></span>
        </p>
      </div>
      <div class="w3ls_footer_grid_left">
        <div class="wthree_footer_grid_left">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <p>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=vantaithaodai@gmail.com" target="_top">vantaithaodai@gmail.com</a>
          <span>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=datxevantaithaodai@gmail.com" target="_top">datxevantaithaodai@gmail.com</a>
          </span>
        </p>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
