<!-- services bottom -->
<div class="Servicebottom">
	<div class="layer">
	<div class="col-md-5">
	</div>
	<div class="col-md-7 Servicebottomtext">
		<h3>Chuyển hàng nhanh chóng và an toàn</h3>
		<h3>Chuyên nghiệp hóa trong quá trình vận chuyển</h3>
		<h3>Nhận khách đi du lịch tỉnh xa và chuyển nhà, văn phòng trọn gói</h3>
		<p>Dịch vụ vận tải Thảo Đại là một trong những Công ty
      chuyên cung cấp các dịch vụ du lịch, chuyển nhà, văn phòng, kho xưởng…chuyên nghiệp,
      Thảo Đại đã và đang trở thành một đối tác đáng tin cậy với tất cả mọi khách hàng
      trên địa bàn thành phố cũng như ở các tỉnh lân cận. </p>
		<h4><i class="fa fa-taxi" aria-hidden="true"></i>Chất lượng đảm bảo</h4>
		<h4><i class="fa fa-truck" aria-hidden="true"></i>Uy Tín Tin Cậy</h4>
	</div>
	<div class="clearfix"></div>
	</div>
</div>
<!-- //services bottom -->
