<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="col-md-7 bannerbottomleft">
			<div class="video-grid-single-page-agileits">
				<div data-video="d3q5mRA5djY" id="video"> <img src="../../../assets/images/bg2.jpg" alt="" class="img-responsive" /> </div>
			</div>
	</div>
	<div class="col-md-5 bannerbottomright">
		<h3 class="text-primary">Phương thức vận chuyển?</h3>
		<p>Bạn đặt xe, chúng tôi vận chuyển tận nơi. Đi đến bất cứ đâu.</p>
		<h4><i class="fa fa-globe" aria-hidden="true"></i>Bạn đặt xe qua website hoặc điện thoại</h4>
		<h4><i class="fa fa-check" aria-hidden="true"></i>Chúng tôi gọi để xác nhận địa điểm</h4>
		<h4><i class="fa fa-money" aria-hidden="true"></i>Chúng tôi báo giá chính xác và đầy đủ</h4>
		<h4><i class="fa fa-smile-o" aria-hidden="true"></i>Không phát sinh thêm bất kỳ phụ phí nào</h4>
    <h4><i class="fa fa-heart" aria-hidden="true"></i>Đảm bảo an toàn, tin cậy và hài lòng</h4>
    <h4><i class="fa fa-phone text-danger" aria-hidden="true"></i>Liên Hệ: 0166 2733 163 - 0906093002</h4>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner-bottom -->

